.header{
    display: flex;
    padding: 15px;
    background-color: #a1d99b;;
    font: 20px Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    border-radius: 5px;
}
.headertext{
    transition: text-decoration .5s;
    transition: text-color .5s;
    cursor: pointer;
    
}
.headertext:hover{
    text-decoration: underline;
    color: black;
}
.tree-plenish{
    border-radius: 3px;
    border: 3px solid;
    border-color: #31a354;
}
/* #progress-container{
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
}
#progress-bar{
    background-color: rgb(116, 194, 92);  
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px;
    width: 80%
} */
