{% extends 'base.html' %}
{% block head %}
    <!-- <style>
        .grid{
            display:grid;
            padding: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 120px 300px 300px; 
            grid-gap: 5px;
        }
        .row{
            background-color: #a1d99b;
            grid-gap: 3px;
        }
        #quick-stats{
            display:grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-column-gap:3px;
        }
        #big-stats1{
            display:grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap:3px;
        }

        #big-stats2{
            display:grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap:3px;
        }
        .header{
            display: grid; 
            grid-template-columns: 4fr 1fr; 
            padding: 15px;
            background-color: #a1d99b;
            font: 15px Arial, Helvetica, sans-serif;
            border-radius: 5px;
            min-width:960px;
        }
        .links{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
        .headertext{
            transition: text-decoration .5s;
            transition: text-color .5s;
            cursor: pointer;
            color:white;
            margin-left: 5px;
        }   
        .headertext:hover{
            text-decoration: underline;
            color: black;
        }
        .treeplenish{
            color:white;
        }
    </style> -->
    <title>Tree-Plenish Overall Analytics</title>

{% endblock %}
{% block body %}
    <div id="main-header"> 
        <h1>Analytics</h1>
    </div>
    <div class="split large-stats">
        <div class="half" >
            <h2>Pollutants Absorbed</h2>
            <h2>##</h2>
        </div>
        <div class="half">
            <h2>Paper Saved</h2>
            <h2>##</h2> 
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h2>test</h2>
            <p>############## ############  ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
    </div>
    <!-- <div class="grid">
        <div class=row id="quick-stats">
            <div id="pollutants">pollutants absorbed: { data.pollutantsAbs } </div>
            <div id="paper">paper saved: { data.paperSaved }</div>
            
        </div>
        <div class="row" id="big-stats1">
            <div>Donation Sizes
                
            </div>
            <div>test</div>
            <div>test</div>
        </div>
        <div class="row" id="big-stats2">
            <div>test</div>
            <div>test</div>
            <div>test</div>
        </div>
    </div> -->
{% endblock %}