{% extends 'base.html' %}

{% block head %}
<title>{{ name }} Analytics</title>
{% endblock %}

<!-- {% block navbar %}<li><b>{{ name }}</b></li>{% endblock %} -->

{% block body %}
    
    <div id="main-header"> 
        <h1>{{ name }}</h1>
    </div>

    <h2 style="margin-top:5%">{{ treeRequests }} out of {{ treeGoal }}-tree goal</h2>
    <div id="progress-container" style="display:inline-block;margin:20px;width:80%;height:50px;border-radius:3px;background-color:gray;">
        <div id="progress-bar" style="background-color:green;height:50px;text-align:right;border-radius:3px;font-size:20px;color:white;justify-content:center;">{{ progress }}</div>
    </div>
    <div class="cards">
        <div class="card">
            <h2>school demographics 1</h2>
            <p>############## ############  ################# ############### </p>
        </div>
        <div class="card">
            <h2>school demographics 2</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>more school info, etc.</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
    </div>
    <div class="split large-stats">
        <div class="half" >
            <h2>Pollutants Absorbed</h2>
            <h2>##</h2>
        </div>
        <div class="half">
            <h2>Paper Saved</h2>
            <h2>##</h2> 
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h2>test</h2>
            <p>############## ############  ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
        <div class="card">
            <h2>test</h2>
            <p>############## ############ ############### ################# ############### </p>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        var prog= '{{ progress }}';
        if(parseInt(prog.split("%")[0])>100){
            prog = "100%"
        }
        document.getElementById("progress-bar").style.width=prog;
    </script>
{% endblock %}
