<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="tree-plenish" style="padding:3px;margin-right:1075px;color:white;background-color:#31a354;">Tree-Plenish.</div>
        <div class = "headertext" style="padding: 3px;color:white;" onclick='javascript:window.location.href=`index`;'>Home</div>
        <div class = "headertext" style="padding: 3px;margin-right:10px;margin-left:10px;color:white;" onclick='javascript:window.location.href=`analytics`;'>Analytics</div>
    </div>
    <h1>{{ name }}</h1>
    <!-- <div>{{ treeRequests }}</div>
    <div>{{ treeGoal }}</div> -->
    <div id="progress-container" style="width:100%;height:50px;border-radius:3px;background-color:gray;">
        <div id="progress-bar" style="background-color:green;height:50px;text-align:right;border-radius:3px;font-size:20px;color:white;justify-content:center;">{{ progress }}</div>
    </div>
    <br>
    <div>{{ treeRequests }} out of {{ treeGoal }}-tree goal</div>
    <script>
        var prog= '{{ progress }}';
        if(parseInt(prog.split("%")[0])>100){
            prog = "100%"
        }
        document.getElementById("progress-bar").style.width=prog;
    </script>
</body>
</html>